<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>BidWars</title>
    <link rel="stylesheet" type="text/css" media="all" href="CSS/mystyle.css" />
</head>
<body>
<h1 align = "center">Welcome to BidWars</h1>
<h2 align = "center">Insert your credentials if you already have an account</h2>

<div th:if="${msgIndex != null}">
    <p th:text="${msgIndex}" class="error"></p>
</div>

<div class = "loginContainer">

    <div class = "loginSection">
        <div class = "sectionHeading">
            <h2>Login</h2>
        </div>

        <form action = "Login" method = "post" >
            <fieldset>
                <p>
                    E-mail: <input type="text" id="email" name="userMail" required/>
                    <span th:if="${emailErrorMessage != null}" th:text="${emailErrorMessage}" class="error"></span>
                </p>
                <p>
                    Password: <input type="text" id="password" name="password" required/>
                    <span th:if="${passwordErrorMessage != null}" th:text="${passwordErrorMessage}" class="error"></span>
                </p>
                <p>
                    <input type="submit" value="Login"/>
                </p>

                <div th:if="${msgLogin != null}">
                    <p th:text="${msgLogin}" class="error"></p>
                </div>


            </fieldset>
        </form>

        <div class = "changeAutMethod">

            <p class = "changeAutMethodInfo">
                Don't have an account?
                <a id = "registerAnchor" href = "Registration.html" th:href="@{/Registration}">Register</a>
            </p>
        </div>

    </div>

</div>
</body>
</html>