<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Closed Auction Page</title>
    <link rel="stylesheet" type="text/css" media="all" href="CSS/mystyle.css" />
</head>

<body>
    <h1>BidWars' Closed Auction Page</h1>
    <h2>Hi <span th:text="${user.name}"></span>, here's the details of the closed auction you participated in:</h2>

    <fieldset>
        <div class="container">
            <div class="row">
                <h1>Closed Auction Details</h1>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Auction ID</th>
                            <th>Articles</th>
                            <th>Winning Bidder</th>
                            <th>Winning Price</th>
                            <th>Shipping Address</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td th:text="${auction.idAuction}"></td>
                            <td>
                                <ul>
                                    <li th:each="article : ${articles}" th:text="${article.articleName}"></li>
                                </ul>
                            </td>
                            <td th:text="${winningBidder}"></td>
                            <td th:text="${winningPrice}"></td>
                            <td th:text="${shippingAddress}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </fieldset>

    <div>
        <a href="/Logout">Logout</a>
    </div>

</body>

</html>
