<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${session.lenguage}">
<head>
<meta charset="UTF-8">
<title>Sell Page</title>
<link rel="stylesheet" type="text/css" media="all"
          href="../../CSS/mystyle.css" th:href="@{/CSS/mystyle.css}" />
</head>
<body>
	<h1>BidWars' Sell Page</h1>
	 <form action="GoToSell" method="POST">
        <fieldset>
            <div class="container">
                <div class="row">
                    <h1>List of your open auctions</h1>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Code</th>
                            <th>Name</th>
                            <th>Max offer</th>
                            <th>Time left</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="auction : ${auctions}">
                            <td th:text="${auction.code}"></td>
                            <td th:text="${auction.name}"></td>
                            <td th:text="${auction.maxOffer}"></td>
                            <td th:text="${auction.timeLeft}"></td>
                            <td><a th:href="@{GoToAuction(code=${auction.code})}">Go to auction</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </fieldset>
    <p th:class="error" th:text=" ${errorMsg}"></p>
    </form>

</body>
</html>