<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Sell Page</title>
    <link rel="stylesheet" type="text/css" media="all" href="CSS/mystyle.css" />
</head>

<body>
    <h1 align="center">BidWars' Sell Page</h1>

	<div th:if="${errorString != null}">
    	<p th:text="${errorString}" class="error"></p>
	</div>
	<div class = "prev">
		<a th:href="@{/GoToPreviousPage}"> <img th:src = "@{/previmg/left.png}" alt = "prev page"  width="35" height="35"></a>
	</div>
	
    <form>
        <fieldset>
            <div class="container" >
                <div class="row">
                    <h1 align="center">List of your open auctions</h1>
                    <div th:if = "${auctionInfoListOpen.isEmpty()}">
                    	<p align="center" th:text = "${NoOpenAuctionsMsg}"></p>                    
                    </div>
                    <div th:unless = "${auctionInfoListOpen.isEmpty()}">
	                    <table th:else class="table">
	                        <thead>
	                            <tr>
	                                <th>Auction Id</th>
	                                <th>Articles</th>
	                                <th>Max Bid</th>
	                                <th>Min Rise</th>
	                                <th>Time Left</th>
	                            </tr>
	                        </thead>
	                        <tbody>
	                            <tr th:each="auctionInfo : ${auctionInfoListOpen}">
	                                <td>
	                                	<a th:href="@{/GoToAuction(idAuction=${auctionInfo['idAuction']})}" th:text="${auctionInfo['idAuction']}"></a>
	                                	
	                                </td>
	                                <td>
	                                    <ul>
	                                        <li th:each="article : ${auctionInfo['articles']}">
											   <p th:text="${article.articleName}" style="display: inline; margin-right: 10px;"></p>
											   <img th:src="@{'/images/' + ${article.image}}" th:alt="${'Immagine ' + article.image}" width="50" height="35" style="display: inline-block"/>	    
											</li>
	                                    </ul>
	                                </td>
	                                <td th:text="${auctionInfo['maxBidValue']}"></td>
                            		
                            		<td th:text = "${auctionInfo['minRise']}"></td>
	                                <td>
	                                    <span th:text="${auctionInfo['timeLeftFormatted']}"></span>
	                                </td>
	                            </tr>
	                        </tbody>
	                    </table>
                    </div>
                </div>
            </div>
        </fieldset>
        <p th:class="error" th:text="${errorMsg}"></p>
    </form>

    <form>
        <fieldset>
            <div class="container">
                <div class="row">
                    <h1 align="center">List of your closed auctions</h1>
                    <div th:if = "${auctionInfoListWon.isEmpty()}">
                    	<p align="center" th:text = "${NoWonAuctionsMsg}"></p>                    
                    </div>

					<div th:unless = "${auctionInfoListWon.isEmpty()}">
	                    <table class="table">
	                        <thead>
	                            <tr>
	                                <th>Auction Id</th>
	                                <th>Articles</th>
	                                <th>Winning bid</th>
	                            </tr>
	                        </thead>
	                        <tbody>
	                            <tr th:each="auctionInfoListWon : ${auctionInfoListWon}">
	                                <td>
		                                <a th:href="@{/GoToAuction(idAuction=${auctionInfoListWon['idAuction']})}" th:text="${auctionInfoListWon['idAuction']}"></a>
		                            </td>
	                                <td>
	                                    <ul>
	                                        <li th:each="article : ${auctionInfoListWon['articles']}" th:text="${article.articleName}"></li>
	                                    </ul>
	                                </td>
	                                
	                                <td th:text="${auctionInfoListWon['maxBidValue']}"></td>
	                                
	                            </tr>
	                        </tbody>
	                    </table>
	                </div>    
                </div>
            </div>
        </fieldset>
    </form>
    
    <form action = "AddArticle" method = "POST" enctype="multipart/form-data" >
    	<h2>Do you want to add an article?<br>here's a form for adding articles for your future auctions</h2>
    	<fieldset>
		   	<label for="articleName">Enter the Article Name:</label>
		   	<input type="text" maxlength="20" name="articleName" id ="articleName" required>
		   	<br>
		    <label for="articleDesc">Enter the Article Description:</label>
		   	<input type="text" maxlength="255" name="articleDesc" id ="articleDesc">
		   	<br>
		   	<label for="price">Enter the Price:</label>
		    <input type="number" name="price" id="price" step="1" min="0" required>
		    <br>
		   	<input type="file" name="imageToUpload" id="imageToUpload" accept=".jpeg, .jpg, .png" required>
		   	<p><input type="submit" value="AddArticle" /></p>
    	</fieldset>
    </form>
    
	<div th:if = "${!imageList.isEmpty()}">
	<form action="CreateAuction" method="POST">
	    <h2 align=center >Do you want to create an auction?</h2>
	    <fieldset>
	    	<div align="center">
		        <label for="expirationDate">Select how long you want the Auction to last (min 1, max 20):</label>
		        <input type="number" name = "expirationDate" id = "expirationDate" step = "1" min ="1" max = "20" required>
		        <br>
		        <label for="minRise">Select a Minimun Rise</label>
		        <input type="number" name="minRise" id="price" step="1" min="1" required>
	        	<label for="imageSelect">Select one or more Articles:</label>
	        </div>
	        <div>
		        <div th:each="image, status  : ${imageList}">
		        	<p th:text="${imageListName[status.index]}"></p>
		            <label th:for="${'image-' + image}">
		                <input type="checkbox" th:id="${'image-' + image}" th:name="selectedImages" th:value="${image}">
		                <img th:src="@{'/images/' + ${image}}" th:alt="${'Immagine ' + image}" width="300" height="200">
		                
		            </label>
		        </div>
	        </div>
	        <input type="submit" value="CreateAuction">
	    </fieldset>
	</form>
	</div>

    <div class="logout-button">
	  <a th:href="@{Logout}" class="logout-button-small">Logout</a>
	</div>

</body>

</html>
